pytest==4.6.*
pytest-cov==2.8.1
# 45.0.0 removes python 2.x support
setuptools>=42,<81
# zipp after 0.5 tries to install its own setuptools at build time,
# which fails on python 2.7
zipp==3.21.*
# 5.0.0 removes python 2.x support
configparser<5
